/* 
@Author   : 咖啡豆  
@contact  : https://obsidian.vip/  
@File     : coffeebean-mermaid-流程图居中.css  
@Software : vscode  
@Date     : 2022-11-12 
@upDate   : 2022-11-12  
@Desc     : 流程图居中  
*/  
  
/* 2022-11-12 流程图居中 */
.mermaid svg{  
  display: block !important;  
  margin: 0 auto !important;  
}
